[submodule "dotvim/bundle/vim-slime"]
	path = dotvim/bundle/vim-slime
	url = https://github.com/jpalardy/vim-slime
[submodule "dotvim/bundle/tabular"]
	path = dotvim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "dotvim/bundle/vim-polyglot"]
	path = dotvim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
