[submodule "dotvim/bundle/vim-slime"]
	path = dotvim/bundle/vim-slime
	url = https://github.com/jpalardy/vim-slime
[submodule "dotvim/bundle/bundle/Vundle.vim"]
	path = dotvim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "dotvim/bundle/julia-vim"]
	path = dotvim/bundle/julia-vim
	url = https://github.com/JuliaeditorSupport/julia-vim
[submodule "dotvim/bundle/tabular"]
	path = dotvim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "dotvim/bundle/vim-markdown"]
	path = dotvim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "dotvim/bundle/vim-colors-solarized"]
	path = dotvim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
