[submodule "dotvim/bundle/vim-slime"]
	path = dotvim/bundle/vim-slime
	url = http://github.com/jpalardy/vim-slime
	ignore = dirty
[submodule "dotvim/bundle/VundleVim"]
	path = dotvim/bundle/VundleVim
	url = http://github.com/VundleVim/Vundle.vim
	ignore = dirty
[submodule "dotvim/bundle/bundle/Vundle.vim"]
	path = dotvim/bundle/bundle/Vundle.vim
	url = http://github.com/VundleVim/Vundle.vim.git
